.sd-btn,
.sd-element,
.sd-page {
  background-color: #fef1de !important;
  color: #000000 !important;
  font-family: "AliasBoldItalic";
}

.sd-rating__item {
  background-color: #eb5d40 !important;
}

.sd-title {
  font-family: "AliasBoldItalic" !important;
  line-height: 3 !important;
}
